body {
  margin: 0;
  font-size: normal;
  text-decoration: none;
  font-family: Ubuntu;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p, li, a {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  text-decoration: none;
  font-size: normal;
}

li {
  list-style: none;
}

@import "vars.scss";
@import "mixins.scss";
@import "callback.scss";
@import "nav.scss";
@import "heading.scss";
@import "button.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
@import "adaptive.scss";